@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contact {
    height: 81vh;
    position: relative;
    margin-bottom: 1rem;
}

.contact::after {
    content: "";
    background-image: url('img/contact1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: inherit;
    border-radius: 5rem;
    bottom: 0rem;
    opacity: 0.15;
    z-index: -1;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact h2 p {
    text-align: center;
    padding-top: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
    border: 0.5rem solid black;
}

.contact form textarea {
    border: 0.5rem solid black;
    height: 20rem;
    resize: none;
}

.contact form .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {


    .contact form textarea {
        width: 95%;

    }

    .contact h2 p {
        padding-top: 5rem;
    }

    .contact form .input-box {
        display: flex;
        flex-direction: column;
    }

    .contact form .input-box input {
        width: 87%;
    }

    .contact form .input-box input {
        width: 100%;
    }

}

@media (max-width: 450px) {
    #textarea1 {
        margin: 1rem 0rem 0.5rem 0rem;

    }
}