@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-bg-: brown;
    --text--: white;
}

.max-width-3 {
    width: 85vw;
}

.max-width-1 {
    width: 80vw;
}

.max-height-1 {
    height: 30vh;
}

.max-width-2 {
    width: 70vw;
}

.m-auto {
    margin: auto;
}

.m-bottom {
    margin-bottom: 2rem;
}

.m-top {
    margin-top: 2rem;
}